.listing > thead > tr > th {
    vertical-align: top !important;
    border-bottom: 1px solid #e5e5e5;
}

.listing td,{
   text-align: right;

}

.auto-append>.datagridwidget-manipulator.insert-row img{
	display: inherit !important;
}

.center{
	text-align: center;
}


#formfield-form-widgets-expense_type,
#formfield-form-widgets-expense_type_a,
#formfield-form-widgets-expense_type_b,
#formfield-form-widgets-expense_type_c{
	width: 24% !important;
    display: inline-block;

}

.button-thin{
	font-size: 12px !important; padding: 0px 10px !important;
}


table.dataTable,
table.dataTable th,
table.dataTable td {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}


#report #mainnavigation-wrapper{
  display: none!important;
}

